<h1>All Flutter Users</h1>

<ul>
  <% @users.each do |user| %>
  <strong><p><%= link_to user.name, user_path(user) %></p></strong>
  <% user.tweets.each do |tweet| %>
  <%= tweet.created_at.strftime("%d %b %Y at %I:%M %p") %>
  <p><%= tweet.text %></p>
  <% end %>
  <% end %>
</ul>